<div class="row">
  <div class="col-auto">
    <h2>Welcome! {{first_name}}</h2>
  </div>
</div>

{{!-- // books we have to offer --}}

{{!-- //which books have already been borrowed --}}

<script src="./js/books.js"></script>
 